<div id="template">
    <h1>The Logo</h1>
    <p>The logo I made for this application is quite simple, but it took me some time to do it since I am not a designer,
        and so, I don't even know the tools to do this kind of stuff. In this case, I just sent the following on Chat-GPT:
        "how to create a logo?", and the answer was a step-by-step, first I should look for inspiration, and think about
        the values and mission, etc. The next step, create a sketch on paper. Since I am not good at drawing, I decided to
        do it on the computer, so I made another question: "Is it possible to create digital sketches?", the answer was a list of
        some tools to do so, I chose the first free tool, <a href="https://inkscape.org/" target="_blank"
            rel="external">Inkscape</a>, and to be honest, I found it to be a pretty good tool.</p>
    <h2>First Version</h2>
    <div class="versions">
        <div>
            <p>Since I had decided on the name some time ago, I just had to do the logo, and I had an idea already, pretty
                simple, write the name: "MoonVs", and at some place, put a moon. Not exactly a very elaborate idea, but it
                was something. I downloaded the tool and started to play a little, and that's how it was born my first
                prototypes.</p>
            <p>Since the beginning I was making a logo to work on a dark background, so the first models were all white, and
                it made sense since it was something related to the moon.</p>
            <p>I don't have to say that I thought these first ideas were pretty bad, I mean it's just blank, boring letters,
                and where is the moon? Well right after, they were discarded and now I knew better how to use the program, I
                started to do the second version.</p>
        </div>
        <img src="./assets/logo-versions/FirstVersion.svg" alt="" loading="lazy">
    </div>
    <h2>Second Version</h2>
    <div class="versions">
        <img src="./assets/logo-versions/SecondVersion.svg" alt="" loading="lazy">
        <div>
            <p>As I started doing the second version, I already knew how to do an eclipse, so all I had to do was to draw an
                eclipse, duplicate it make the top one a little smaller and change the color to black, and voilá, we have a
                moon now.</p>
            <p>Well, to be honest, it's not that similar, but I had a kind of a moon, at this point I kept trying to make it
                better, so I figured out how to cut the overlapping eclipses, it's hard to see, but on the first logo,
                there's a black eclipse above the lower eclipse.</p>
            <p>And playing a little more, I found a way to do what I did on the third logo, I don't know how to
                explain what is it, but I only applied one of the filter options present on Inkscape.</p>
        </div>
    </div>
    <h2>Third Version</h2>
    <div class="versions">
        <div>
            <p>For the third version, I was basically evolving the concepts, and trying some things, I wasn't quite liking
                none of them, because most of them looked like the Opera logo, and I am almost certain that I've seen
                that exact symbol in another brand, so that was not a good idea.</p>
            <p>My two favorite concepts in this version were these on the image, but I decided to use the first one, because
                it seemed better, and probably that was my brain, but I swear I can actually see the two O's on those moons,
                even though there is only an arc with a glow making the moon.</p>
        </div>
        <img src="./assets/logo-versions/ThirdVersion.svg" alt="" loading="lazy">
    </div>
    <h2>Final Version?</h2>
    <div class="versions">
        <img src="./assets/logo-versions/FinalVersion.svg" alt="" loading="lazy">
        <div>
            <p>Since I had chosen the logo I started to make the other versions of the logo, the white one, in case I needed,
                or if I decide to make a light version of the front-end, I even made some smaller versions, it was perfect so
                now it was the time to go for the next step, according to Chat-GPT, I should decide on colors, and fonts and make
                the digital logo.</p>
            <p>I had done all of these, so now I should ask for feedback, which I honestly didn't want to do at the time,
                so I sent prints on Bard, and apparently, I'm the only one who could see an 'O' on that moon, cause Bard
                always treated it as a 'C'.</p>
            <p>I tried so hard and got so far... Sorry... I tried sometimes, but apparently, that couldn't be seen as an
                'O', so I had to go to Final Version v2.</p>
        </div>
    </div>
    <h2>Final Version 2 - The Final Version</h2>
    <div class="versions">
        <div>
            <p>For this version of the final version I've come up with two concepts, they're quite the same, at the
                first one I have a thicker moon, and on the second one a thinner moon, that's the only difference between
                them.</p>
            <p>This time I've finally added some line closing the 'O', of the same color as the letters at the right,
                without any shadow. In the end, I chose the second one because I think it suited me better and because the first
                one still remembers me of the Opera logo.</p>
        </div>
        <img src="./assets/logo-versions/FinalVersion2.svg" alt="" loading="lazy">
    </div>
    <h2>The Actual Final Version</h2>
    <div class="versions">
        <section id="imgs">
            <img class="final" src="./assets/logos/Logo-Black.svg" alt="" loading="lazy"><br>
            <img class="final white" src="./assets/logos/Logo-White.svg" alt="" loading="lazy"><br>
            <img class="final" src="./assets/logos/Logo-B-Small.svg" alt="" loading="lazy">
            <img class="final" src="./assets/logos/Logo-B-Symbol.svg" alt="" loading="lazy"><br> 
            <img class="final white" src="./assets/logos/Logo-W-Small.svg" alt="" loading="lazy">
            <img class="final white" src="./assets/logos/Logo-W-Symbol.svg" alt="" loading="lazy">
        </section>
        <div>
            <p>I promise, this is the end. These are the final versions of MoonVs logo. According to Bard "The logo is a simple and elegant design. It consists of a crescent moon, and the word "MoonVs" in lowercase letters. The crescent moon is a common symbol of the moon, and it is often used to represent femininity, mystery, and change. The lowercase letters make the logo appear more approachable and friendly.
            The color scheme of the logo is also noteworthy. The gray color is a neutral color that is often associated with sophistication and professionalism. It is a good choice for a logo that wants to be taken seriously."</p>
            <p>To be honest I just did the things that came into my mind, there's no such profound meaning.</p>
            <p>Yes, there are some meanings, there are things I made for specific reasons, such as the colors, the moon, or even the fact that the two 'O's overlap each other, making an infinite symbol, but they're not that deep.</p>
        </div>
    </div>
</div>