<div id="template">
    <h1>The Changelog</h1>
    <h2>v0.1.0-beta.2024-01</h2>
    <h3>Added</h3>
    <ul>
        <li>Creation of an account and authentication.</li>
        <li>Creation of a user's profile, with a small text up to 255 characters.</li>
        <li>Edition of the username and/or email.</li>
        <li>Edition of user's password.</li>
        <li>Deletion of user's account.</li>
        <li>Search by Movies and Series.</li>
        <li>View of informations about Movies and Series.</li>
    </ul>
    <p>Release Date: <strong>2024-01-01</strong></p>
</div>