@import url("/luanpozzobon_site/styles/style.css");

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#main-content {
    width: calc(60% - 60px);
    margin: 25px;
}

#main-content p {
    text-align: justify;
    padding-bottom: 20px;
}


#main-content a {
    text-decoration: none;
    color: var(--main);
}

#techstack {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#techstack div {
    border: 1px solid rgba(50, 50, 50, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    flex-basis: 100px;
    transition: 1250ms;
}

#techstack div:hover {
    background-color: rgba(200, 200, 200, 0.4);
    border: 1px solid var(--main);
    box-shadow: 
        0 0 5px var(--comp-color),
        0 0 10px var(--comp-color),
        0 0 20px var(--comp-color);
    transition: 1250ms;
}