@import url("/luanpozzobon_site/styles/style.css");

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#main-content {
    width: calc(60% - 65px);
    margin: 25px;

}

#main-content p {
    text-align: center;
    padding-bottom: 20px;

}

#main-content a {
    text-decoration: none;
    color: var(--font-color);
}

#techstack {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#techstack div {
    border: 1px solid rgba(50, 50, 50, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    flex-basis: 100px;
    box-shadow: 2px -2px 7px rgba(50, 50, 50, 0.6);
    transition: 1250ms;
}

#techstack div:hover {
    background-color: rgba(200, 200, 200, 0.4);
    border: 1px solid var(--font-color);
    box-shadow: 
        0px 0px 5px var(--comp-color),
        0px 0px 10px var(--comp-color),
        0px 0px 20px var(--comp-color);
    transition: 1250ms;
}