@import url("/luanpozzobon_site/styles/style.css");

.project-link {
    text-decoration: none;
    color: var(--font-color);
}

.projects {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    align-items: center;
    
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 0px;
    transition: 0.4s;
}

.projects h2,
.projects p {
    grid-column: 1;
    max-width: 80%;
}

.projects img {
    grid-column: 2;
    grid-row: 1 / span 3;
}

.projects:hover {
    transform: scale(1.01);
    border: 1px solid var(--comp-color);
    box-shadow: 
        inset 0px 0px 10px var(--comp-color);
}