@font-face {
    font-family: Neon80s;
    src: url(/luanpozzobon_site/assets/fonts/neon.ttf);
}

:root {
    --special-font: Neon80s;
    --font-color: rgba(255, 255, 255, 0.75);
    --bg-color: rgba(0, 0, 0, 0.8);
    --comp-color: rgba(0, 255, 255, 0.7);
}

html,
body {
    color: var(--font-color);
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    padding-bottom: 67.5px;
    margin-bottom: 75px;
    background-image: url(/luanpozzobon_site/assets/images/Wall.avif);
    background-position: center center;
}

header img {
    float: left;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 62px;
    width: 20%;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px;
}

nav a:hover {
    color: var(--font-color);
    text-shadow: 0px 0px 5px var(--comp-color);
    box-shadow: 1px 1px rgba(51, 51, 51, 0.8);
    border-radius: 5px;
}

#neon-sign {
    width: 100%;
    margin: 25px auto;
}

#neon-text {
    text-align: center;
    font-family: var(--special-font);
    font-size: 75px;
    animation: flicker 15s infinite alternate;
}

/* Neon Effect */
@keyframes flicker {

    0%,
    19.8%,
    20.2%,
    20.5%,
    37%,
    38%,
    54.8%,
    55.2%,
    71%,
    71.5%,
    73%,
    80%,
    80.7%,
    81.7%,
    90%,
    91%,
    100% {
        color: var(--font-color);
        text-shadow:
            0 0 5px var(--font-color),
            0 0 15px var(--comp-color),
            0 0 30px var(--comp-color);
    }

    20%,
    20.4%,
    37.5%,
    55%,
    71.1%,
    72%,
    80.5%,
    81%,
    90.5% {
        color: rgba(200, 200, 200, 0.4);
        text-shadow: none;
    }
}